[submodule "packages/api"]
	path = packages/api
	url = https://github.com/ARACLX/aeropods.api.git
[submodule "packages/nginx"]
	path = packages/nginx
	url = https://github.com/ARACLX/aeropods.nginx.git
